*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// estilos botones sección productos - Bootstrap

.h1Productos{
    font-size: 1.4rem;
    font-weight: bold;
}
.btn-estilos{
    background-color:  #f8ced8;
    box-shadow: 2px 3px black;
    font: {
        weight: bold;
        size: 0.8rem;
    }
    letter-spacing: 0.3rem;
}

.btn-estilos:hover{
    transform: scale(1.1);
}

.card-body{
    text-align: center;
    justify-content: araound;
}

// ESTILOS GENERALES 
// propiedades del padre
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);   
    grid-template-rows: 0.2fr 1.5fr 1.2fr 2fr 0.3fr;

//propiedad para estructurar por áreas
    grid-template-areas: "header header header header"
                         "main main main main"
                         "section1 section1 section2 section2"
                         "section31 section31 section32 section32"
                         "footer footer footer footer";
    justify-content: center;                     
// el GAP, espacio entre los columnas y filas                       
    gap: 0.8rem;               
}


// propiedades de las áreas
@mixin condicion($color){
    background-color: $color;

    //condicional
    @if $color == orange{
        background-color: #fff4f3;
    } @else {
        background-color: pink;
    }
} 
body{
    @include condicion(orange);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

header{
    grid-area: header;
    text-align: center;   
    background-color: black;
    padding-bottom: 10px;
}

//propiedades del logo
.logo{
    text-align: center;
    .imgLogo{
        height: 6rem;
    }
}

//propiedades del menú
.nav{
    background-color: black;
        ul li{ list-style-type: none;
        text-transform: uppercase;
        flex-direction: row;
        border-radius: 1rem;
        .botonNav{
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
    }
    
}

.navbootstrap ul {
    margin-bottom: 0;
}
//transformaciones menú
nav ul li:hover{
    background-color: #f8ced8;
    box-shadow: 1px 1px white;
}

h1{
    color: rgb(8, 8, 8);
    font-size: 1.5rem;
    height: 2.5rem;
    margin-top: 1rem;
}

main{
    grid-area: main;
    text-align: center;
}

%parrafo{
    text-align: center;
    font-size: 1rem;
    padding: 0.6rem;
}
h2{
    @extend %parrafo; 
}
h3{
    @extend %parrafo;
}
.imgMain{
    width: 65%;
}

.imgSection{
    width: 85%;
}

//transformaciones y animaciones de img Ofertas
.imgAnimation{
    animation-name: girar;
    animation-iteration-count:inherit;
    animation-duration: 1s;
}  

@keyframes girar{
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.1);
    }
 }
 
.imgHidden{
    display: none;
}

.form{ 
    display: flex;
    justify-content: center;
    align-content: center;
}

.section1{
    grid-area: section1;
    margin: auto;
}

.section2{
    grid-area: section2;
    margin: auto;
}

.sectionContainer{
    text-align: center;
    background: rgba(214, 169, 164, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    max-width: 200px;
}
.section31{
    grid-area: section31;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.section32{
    grid-area: section32;
    margin: auto;
    display: flex;
    flex-direction: row;
}



//main html Productos
.card-title{
    font-size: 1.2rem;
}
.card-text{
    font-size: 0.8rem;
}

.estilos-card{
    margin: 1rem;
}

//footer de todos los html-secciones
footer{
    grid-area: footer;
    background-color: #dde4f1;
    padding: 1rem;    
    p{  
        font-size: 0.7rem;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0;
    }
}


//media queries
@media only screen and (min-width: 768px){
    .container{
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 0.2fr 1.5fr 1.2fr 2fr 0.3fr;
    
        grid-template-areas: "header header"
                             "main main"
                             "section1 section2"
                             "section31 section32"
                             "footer footer";
        justify-content: center;
        
    }  

    .imgHidden{
        display: inline-block;
    }
    
    .nav ul li{
        display: inline-block;
    }

    .botonNav{
        padding: 0.8rem;
    }
    
    .imgMain{
        width: 35%;
    }      
    

    .section1, .section2{
        width: 60%;
    }
    .section1{
        margin-left: 30%;
    }
    .section2{
        margin-right: 30%;
    }
    .section2 p{
        text-align: right;
    }
}
